version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  # Raise all npm pull requests with custom labels
  labels:
    - "npm dependencies"
